div#devpkg {
		border: medium solid #008000;
		padding: 8px;
		font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: large;
		line-height: 100%;
		width: 480px;
		float: left;
}

div#devpkg-account {
	font-family:Segoe UI, Calibri, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:100%;
	width:286px;
	float:left;
}

div.devpkg-message {
	float:left;
	text-align:center;
	font-weight:normal;
}

div.devpkg-text {
	width:286px;
	float:left;
	padding:0;
	text-align:justify;
	margin:7px 0 7px 0;
	line-height:16px;
}

p.devpkg-message-plain	{margin:0;padding:6px;}
p.devpkg-message-info	{margin:0;padding:6px;background-color:#FFCC00;color:#000000;}
p.devpkg-message-text	{margin:0;padding:6px;background-color:#EEEEEE;color:#000000;}
p.devpkg-message-fail	{margin:0;padding:6px;background-color:#FF0000;color:#FFFFFF;font-weight:bold;}
p.devpkg-message-hidden	{display:none;}

div.devpkg-fullName {
	float:right;
	margin:4px 0 0 0;
	padding:6px;
	color:#555555;
	font-weight:bold;
}

form.devpkg-form		{margin:0;}
fieldset.devpkg-fieldset	{margin:0;padding:0;border:0;clear:right;}
label.devpkg-label		{float:right;padding:4px;}

input.devpkg-text {
	float:right;
	font-size:11px;
	width:160px;
	margin-bottom:4px;
}

input.devpkg-button {
	float:right;
	padding:2px;
	font-family:Segoe UI, Calibri, Arial, Helvetica, sans-serif;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
}

input.devpkg-action {
	font-size:12px;
	width:52px;
	margin:0 0 0 6px;
}

input.devpkg-preference {
	font-size:10px;
	margin:4px 0 0 6px;
}

input.devpkg-preference-verbose {float:left;margin:0;}

input.devpkg-buttonstate-0 {background-color:#FFFFFF;color:#444444;border-color:#666666 #333333 #333333 #666666;}
input.devpkg-buttonstate-1 {background-color:#FFFFFF;color:#444444;border-color:#FF9900 #CC6600 #CC6600 #FF9900;}
input.devpkg-buttonstate-2 {background-color:#FFFFFF;color:#444444;border-color:#666666 #333333 #333333 #666666;}
input.devpkg-buttonstate-3 {background-color:#FFFFFF;color:#444444;border-color:#FF9900 #CC6600 #CC6600 #FF9900;}
input.devpkg-buttonstate-4 {background-color:#CCCCCC;color:#222222;border-color:#333333 #666666 #666666 #333333;}
input.devpkg-buttonstate-5 {background-color:#CCCCCC;color:#222222;border-color:#CC6600 #FF9900 #FF9900 #CC6600;}
input.devpkg-buttonstate-6 {background-color:#CCCCCC;color:#222222;border-color:#333333 #666666 #666666 #333333;}
input.devpkg-buttonstate-7 {background-color:#CCCCCC;color:#222222;border-color:#CC6600 #FF9900 #FF9900 #CC6600;}
